<!-- <p>Write the markup here!</p> -->

    <p>select users </p>
    <div>        
        <select name="User"  class="btn btn-primary dropdown-toggle" type="button" ng-model="userId" ng-change="updateUser()">            
            <option ng-repeat="user in users" value="{{user.id}}">{{user.name}}</option>
        </select>
    </div>
    
<div class="row dashboard-content-header">
        <div class="col-md-2"><h4>Name</h4></div>
        <div class="col-md-2"><h4>Email</h4></div>
        <div class="col-md-3"><h4>Address</h4></div>
        <div class="col-md-2"><h4>Phone</h4></div>
        <div class="col-md-1"><h4>Website</h4></div>
        <div class="col-md-2"><h4>Company</h4></div>
</div>
        
<div class="row dashboard-content">
        <div class="col-md-2"><h7>{{currentUser.name}}</h7></div>
        <div class="col-md-2"><h7>{{currentUser.email}}</h7></div>
        <div class="col-md-3"><h7>{{currentUser.address.street}} {{currentUser.address.suite}} {{currentUser.address.city}}</h7></div>
        <div class="col-md-2"><h7>{{currentUser.phone}}</h7></div>
        <div class="col-md-1"><h7>{{currentUser.website}}</h7></div>
        <div class="col-md-2"><h7>{{currentUser.company.name}}</h7></div>
</div>


<div class="row dashboard-content-header">
    <!-- <div class="col-md-1"><h4 class="btn btn-primary" type="button"> Id</h4></div> -->
    <!-- <div class="col-md-2 dropdown">
            <select class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" ng-model="currentOrderByFilter" ng-change="updateOrderByFilter()">Sort By Id
                    <option ng-repeat="orderByFilter in orderByFilter" value="{{orderByFilter.value}}">{{orderByFilter.name}}</option>
    </div> -->
    <div class="col-md-2 dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a ng-click="updateOrderByFilter(true)">Acending</a></li>
                      <li><a ng-click="updateOrderByFilter(false)">Descending</a></li>
                    </ul>
    </div>
    <div class="col-md-3"><h4>Title</h4></div>
    <div class="col-md-7"><h4>Body</h4></div>
</div>

<div ng-repeat="post in posts | orderObjectBy:'id' ">
    <div class="row dashboard-content">
        <div class="col-md-2"><h6>{{post.id}}</h6></div>
        <div class="col-md-3"><h6>{{post.title}}</h6></div>
        <div class="col-md-7"><h6>{{post.body}}</h6></div>
    </div>
</div>